tr,
th,
table,
td {
    border: 3px solid black;
    border-collapse: separate;
    width: 1000px;
}

td {
    align-items: center;
    text-align: center;
    background: content-box radial-gradient(rgb(174, 248, 174), rgb(208, 208, 244), rgb(231, 189, 110));
}

p {
    font-size: medium;
    width: 400px;
    text-align: center;
    align-items: center;
    padding-left: 35px;
    padding-right: 20px;
}

th {
    padding: 15px;
    background-color: rgb(197, 205, 140);
}

img {
    height: 300px;
    width: 450px;
}

h5 {
    font-size: medium;
    width: 250px;
    text-align: center;
    align-items: center;
}

h1 {
    border: thick double black;
    border-radius: 10px;
    width: 300px;
    padding: 10px;
    background-color: aliceblue;
    background-color: rgb(236, 241, 135);
}

body {
    /* background: content-box radial-gradient(rgb(230, 163, 230), rgb(233, 210, 168)); */
    background-image: url('india\ map.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}

.D {
    border: 4mm ridge darkred;
    width: 1190px;
}