th,
table,
td,
tr {
    border: 7px solid #f80b0b;
    border-collapse: collapse;
    padding: 5%;
}

td {
    text-align: center;
    color: black;
    font-size: 100%;
    font-weight: lighter;
    border-radius: 40px;
    background: content-box radial-gradient(rgb(231, 181, 181), rgb(155, 155, 224));
}

th {
    background-color: rgb(241, 164, 164);
    font-weight: bold;
    font-size: 100%;
}

h1 {
    border: 2px dashed black;
    border-radius: 10px;
    width: 250px;
    font-size: 50px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    background: content-box radial-gradient(rgb(238, 190, 198), rgb(252, 94, 94));
}

body {
    background: content-box radial-gradient(rgb(227, 138, 138), rgb(174, 230, 125));
}