/* External CSS */


/* Tag Selector */

th,
table,
td,
tr {
    border: 3px solid #e81111;
    border-collapse: collapse;
    padding: 1%;
    width: 500px;
    background: content-box radial-gradient(rgb(209, 122, 122), rgb(127, 127, 234));
}

table {
    width: 100%;
    /* border: 5px solid blue; */
}

td {
    text-align: center;
    color: rgb(41, 0, 102);
    padding: 1px;
    height: 150px;
    width: 500px;
    font-size: large;
    align-items: center;
}

h1 {
    color: blueviolet;
    text-align: center;
    align-items: center;
    border: 3px solid black;
    width: 500px;
    background-color: rgb(197, 213, 238);
}

.tab1 {
    width: 50%;
    height: 100%;
    margin: auto;
    border: 6px solid blue;
}